<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Include any stylesheets here -->
</head>
<body>

    <!-- Home Bar -->
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('user_dashboard', username=session.get('username')) }}">Dashboard</a>
        <a href="{{ url_for('user_dashboard', username=session.get('username')) }}">My Caves</a>
    </nav>

    <!-- Page Content -->
    <div>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </div>

</body>
</html>
