{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Binevenue, {{ username }} !</h1>
    <h2>Vos Caves</h2>
    <ul>
        {% for cave in caves %}
            <li>
                {{ cave.nom }} 
                <form method="POST" action="{{ url_for('select_cave') }}">
                    <input type="hidden" name="cave_id" value="{{ cave.cave_id }}">
                    <button type="submit">Select Cave</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h3>Ajouter une Cave</h3>
    <form method="POST" action="{{ url_for('add_cave') }}">
        <input type="hidden" name="username" value="{{ username }}">
        <label for="cave_name">Nom de la Cave:</label>
        <input type="text" name="cave_name" required>
        <button type="submit">Ajouter la Cave</button>
    </form>
{% endblock %}
